nav.main-menu
  ul.main-menu__list
    li.main-menu__item Home
    li.main-menu__item O nas!!!
    li.main-menu__item Asortyment
    li.main-menu__item Wspolpraca
    li.main-menu__item Kontakt
    li.main-menu__item Tel.500 110 110
    li.main-menu__item Jop
