ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

<<<<<<< HEAD
h2 {
  position: relative;
  font-weight: 700;
  @include mobile-primary-title-style;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    display: block;
    width: 80px;
    height: 1px;

    background-color: #a0a0a0;
  }
}

=======
>>>>>>> ee44f059457ec8e9451bb39934645a6d16e6ec2b
body {
  @include mobile-primary-text-style;
}

.no-js .main-menu__list {
  display: block;
}
