/*font-family*/
$primary-font-family: "Hind", "Arial", sans-serif;
$secondary-font-family: "Montserrat", "Arial", sans-serif;

           /*font-size*/
$mobile-primary-size-text: 14px;
$tablet-primary-size-text: 17px;
$desktop-primary-size-text: 17px;

<<<<<<< HEAD
$mobile-primary-size-title: 34px;
=======
$mobile-primary-size-title: 27px;
>>>>>>> ee44f059457ec8e9451bb39934645a6d16e6ec2b
$tablet-primary-size-title: 34px;
$desktop-primary-size-title: 34px;

           /*line-height*/
$mobile-primary-line-height-text: 20px;
$tablet-primary-line-height-text: 30px;
$desktop-primary-line-height-text: 30px;

$mobile-primary-line-height-title: 30px;
$tablet-primary-line-height-title: 45px;
$desktop-primary-line-height-title: 45px;

           /*color*/
$primary-font-color: #737373;
$secondary-font-color: #ffffff;

$primary-title-color: #00a1eb;

           /*bg-color*/
$primary-bg-color: #ffffff;
$secondary-bg-color: #00a1eb;

           /*device width*/
$width-xs-device: 320px;
$width-sm-device: 768px;
$width-md-device: 992px;
$width-lg-device: 1200px;
