.page-header {
  padding: 37px 0;
  background-color: #1e6698;
  background-image: url("../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
