doctype html
html(lang="en" class="no-js")
  include ../blocks/head
  body
    header.page-header
      .container
        .row
          .col-xs-3
            include ../blocks/logo
          .container-fluid
            .row
              .col-xs-12.col-md-6.col-md-offset-3
                include ../blocks/main-menu

      include ../blocks/intro

    main.page-main
      .container
        .row
          include ../blocks/about-us



      include ../blocks/asortyment
      include ../blocks/features
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript")
  script(src="js/main-js.js" type="text/javascript")
