section.asortyment
  h2.asortyment__title  Asortyment
  p.asortyment__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie egestas massa, et sollicitudin urna mattis faucibus. Praesent sagittis laoreet est, et efficitur enim lacinia id. Aenean imperdiet diam nec efficitur commodo. Morbi at purus tempus tellus tempus placerat. Sed faucibus sed elit at lacinia.
  .asortyment__slider
    .asortyment__controls
      button.asortyment__btn-left Назад
      button.asortyment__btn-right  Вперёд

    div(class="asortyment__slide  asortyment__slide--first")
      img(class="asortyment__img" src="img/item-1.jpg")
      .asortyment__info
        h3.asortyment__name Dorada świeża
        span.asortyment__price  14,99 ZL/KG
        a(class="asortyment__link" href="#") Zamow

    div(class="asortyment__slide  asortyment__slide--second")
      img(class="asortyment__img" src="img/item-2.jpg")
      .asortyment__info
        h3.asortyment__name Pstrąg patroszony
        span.asortyment__price  20,99 ZŁ/KG
        a(class="asortyment__link" href="#")  Zamow

    div(class="asortyment__slide  asortyment__slide--third")
      img(class="asortyment__img" src="img/item-3.jpg")
      .asortyment__info
        h3.asortyment__name Krewetki tygrysie
        span.asortyment__price  5,99ZŁ/SZT
        a(class="asortyment__link" href="#")  Zamow

    div(class="asortyment__slide  asortyment__slide--fourth")
      img(class="asortyment__img" src="img/item-4.jpg")
      .asortyment__info
        h3.asortyment__name Makrela wędzona
        span.asortyment__price  39,99 ZŁ/KG
        a(class="asortyment__link" href="#")  Zamow

    a(class="asortyment__btn  btn" href="#")  Zobacz cały
