section.features
  .features__item
    h2.features__title  Catering
    p.features__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie egestas massa, et sollicitudin urna mattis faucibus. Praesent sagittis laoreet est, et efficitur enim lacinia id.
  .features__item
    h2.features__title  Sprzedaż
    p.features__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie egestas massa, et sollicitudin urna mattis faucibus. Praesent sagittis laoreet est, et efficitur enim lacinia id.
  .features__item
    h2.features__title  Dostawy
    p.features__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie egestas massa, et sollicitudin urna mattis faucibus. Praesent sagittis laoreet est, et efficitur enim lacinia id.
  a(class="features__btn" href="#") Sprawdź
możliwości
