nav.main-menu
  include burger
  ul.main-menu__list.main-menu__list--closed
    li.main-menu__item
      a.main-menu__link.main-menu__link--active(href="#") Home
    li.main-menu__item
      a.main-menu__link(href="#") O nas
    li.main-menu__item
      a.main-menu__link(href="#") Asortyment
    li.main-menu__item
      a.main-menu__link(href="#") Współpraca
    li.main-menu__item
      a.main-menu__link(href="#") Kontakt
    li.main-menu__item.main-menu__item--phone
      a.main-menu__link(href="#") Tel.500 110 110
